<div class="reg-container">
  <h2>Регистрация</h2>
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="login">Логин</label>
      <input type="text" id="login" formControlName="login" placeholder="Введите логин" />
      <div *ngIf="regForm.get('login')?.invalid && regForm.get('login')?.touched" class="error">
        <div *ngIf="regForm.get('login')?.hasError('required')">Логин обязателен</div>
        <div *ngIf="regForm.get('login')?.hasError('pattern')">Неверный логин</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Пароль</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Введите пароль"
      />
      <div
        *ngIf="regForm.get('password')?.invalid && regForm.get('password')?.touched"
        class="error"
      >
        Пароль обязателен
      </div>
    </div>
    <div class="button-group">
      <button type="submit" [disabled]="regForm.invalid">Зарегистрироваться</button>
      <button type="button" routerLink="/auth/login" class="secondary-btn">
        Уже есть аккаунт?
      </button>
    </div>
  </form>
</div>
