<app-header></app-header>

<main class="main-content">
  <div class="controls-bar">
    <span *ngIf="auth.getUsername()"> {{ auth.getUsername() }} </span>
    <button class="logout-btn" (click)="auth.logout()">Выйти</button>
  </div>

  <div class="interaction-area">
    <div class="graph-section">
      <app-graph [r]="r" [points]="points.get(r)" (canvasClick)="onCanvasClick($event)"></app-graph>
    </div>

    <div class="form-section">
      <app-point-form
        (pointSubmit)="onPointSubmit($event)"
        (radiusChange)="onRadiusChange($event)"
      ></app-point-form>
    </div>
  </div>

  <div class="results-section">
    <app-results-table [points]="points.get(r)"></app-results-table>
  </div>
</main>
